*,
*::before,
*::after {
  box-sizing: border-box;
}

.title{
    color:#004080;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0px 0px 3px;
    padding:5px 0px 8px;
}

table{
    border-collapse: collapse;
    border-radius: 10px;
}
p{
    color:#6b6b6b;
    font-family: Arial, Helvetica, sans-serif;
}
.table_title{
    color:#003399;
    background-color: #b9c9fe;
    font:13px;
    font-family: Arial, Helvetica, sans-serif;
    padding:8px;
    border-radius: 25px;
}
.table_content{
    color:#666699;
    background-color: #E8EDff;
    font: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 0px 12px;
}
table{
  width: 100%;
}

tr{
    padding-bottom: 0px;
    border-bottom: 2px solid whitesmoke;
}
tbody{
    border-radius: 10px;
}
th,td{
  width: 50%;
  text-align: start;
  padding: 8px;
}
.rounded_edges{
  border-top-left-radius: 10px;
}
.rounded_edges2{
  border-top-right-radius: 10px;
}
.rounded_edges3{
  border-bottom-left-radius: 10px;
}
.rounded_edges4{
  border-bottom-right-radius: 10px;
}
.line{
  border-right: 2px solid whitesmoke;
}